" Options
set autoindent
set backspace=indent,eol,start
set clipboard+=unnamedplus
set cursorline
set expandtab
set hlsearch
set idearefactormode=keep
set ignorecase
set inccommand=nosplit
set incsearch
set mouse=a
set noerrorbells
set noswapfile
set nowrap
set number
set relativenumber
set scrolloff=4
set shiftwidth=2
set showmode
set signcolumn=yes
set smartcase
set smartindent
set spelllang=en
set splitbelow
set splitright
set tabstop=2
set termguicolors
set undodir=$HOME/.undodir
set undofile
set undolevels=100
set visualbell

" Plugins
set NERDTree
set ReplaceWithRegister
set commentary
set easymotion
set ideajoin
set surround

" Keymaps
let mapleader = " "
let g:NERDTreeMapActivateNode = 'l'
let g:NERDTreeMapJumpParent = 'h'

inoremap jk <ESC>
nnoremap 0 ^ nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <M-o> o<ESC>
nnoremap <leader>ee :NERDTreeToggle<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fg :action FindInPath<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>j J
nnoremap <leader>nh :nohl<CR>
nnoremap <leader>qq :qa<CR>
nnoremap <leader>se <C-w>=
nnoremap <leader>sh <C-w>s
nnoremap <leader>sv <C-w>v
nnoremap <leader>sx :close<CR>
nnoremap <leader>w :w<CR>
nnoremap J 5j
nnoremap K 5k
nnoremap gh K
nnoremap <leader>la :action ShowIntentionActions<CR>
nnoremap <leader>lh K
