" Options
set autoindent
set backspace=indent,eol,start
set clipboard+=unnamedplus
set cursorline
set expandtab
set foldmethod=expr
set foldexpr=nvim_treesitter#foldexpr()
set ignorecase
set mouse=a
set number
set relativenumber
set scrolloff=4
set shiftwidth=2
set showmode
set signcolumn=yes
set smartcase
set smartindent
set spelllang=en
set splitbelow
set splitright
set noswapfile
set tabstop=2
set termguicolors
set undodir=$HOME/.undodir
set undofile
set undolevels=100
set nowrap


" Keymaps
let mapleader = " "

inoremap jk <ESC>

nnoremap 0 ^ 
nnoremap <C-h> <C-w>h 
nnoremap <C-j> <C-w>j 
nnoremap <C-k> <C-w>k 
nnoremap <C-l> <C-w>l 
nnoremap <M-down> :m .+1<CR>== 
nnoremap <M-o> o<ESC> 
nnoremap <M-up> :m .-2<CR>== 
nnoremap <leader>nh :nohl<CR> 
nnoremap <leader>j J 
nnoremap <leader>qq :qa<CR> 
nnoremap <leader>se <C-w>= 
nnoremap <leader>sh <C-w>s 
nnoremap <leader>sv <C-w>v 
nnoremap <leader>sx :close<CR> 
nnoremap <leader>w :w<CR> 
nnoremap J 5j 
nnoremap K 5k 

vnoremap <M-k> :m '<-2<CR>gv=gv 
vnoremap <M-k> :m '>+1<CR>gv=gv 
